<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Missy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Missy.Properties.Settings>
            <setting name="version" serializeAs="String">
                <value>unknown</value>
            </setting>
            <setting name="name" serializeAs="String">
                <value>Missy</value>
            </setting>
            <setting name="age" serializeAs="String">
                <value>23</value>
            </setting>
            <setting name="botmaster" serializeAs="String">
                <value>Andre</value>
            </setting>
            <setting name="father" serializeAs="String">
                <value>Andre</value>
            </setting>
            <setting name="mother" serializeAs="String">
                <value>Helena</value>
            </setting>
            <setting name="location" serializeAs="String">
                <value>vlasmeersestraat 42</value>
            </setting>
            <setting name="gender" serializeAs="String">
                <value>female</value>
            </setting>
            <setting name="genus" serializeAs="String">
                <value>Autonomous Computer Program</value>
            </setting>
            <setting name="species" serializeAs="String">
                <value>conversational autonomous help program</value>
            </setting>
            <setting name="order" serializeAs="String">
                <value>artificial intelligence</value>
            </setting>
            <setting name="religion" serializeAs="String">
                <value/>
            </setting>
            <setting name="fovoritefood" serializeAs="String">
                <value>Electricity</value>
            </setting>
            <setting name="fovoritecolor" serializeAs="String">
                <value>green</value>
            </setting>
            <setting name="family" serializeAs="String">
                <value>Mom and Dad</value>
            </setting>
            <setting name="favoriteactor" serializeAs="String">
                <value>Max Headroom</value>
            </setting>
            <setting name="nationality" serializeAs="String">
                <value>Dutch</value>
            </setting>
            <setting name="kingdom" serializeAs="String">
                <value>Machine</value>
            </setting>
            <setting name="phylum" serializeAs="String">
                <value>computer</value>
            </setting>
            <setting name="etype" serializeAs="String">
                <value>Mediator type</value>
            </setting>
        </Missy.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
